* {
    margin: 0px;
    padding: 0px;
}

.ghost {
    width: 10px;
    height: 10px;
}

.pacman {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    z-index: 1000;
}

.wall {
    background-color: blue;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.free {
    background-color: black;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.row {
    display:flex;
}

.coin {
    background-image: url("/assets/coin.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
}
